.logo {
    margin: auto;
    height: 40px;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    padding: 2rem;
}

.no-border {
    border: none;
    box-shadow: none;
}