.main-table {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.table-item {
    padding: 1rem;
    width: 100%;
    border-radius: 0.5rem;
}

.table-item:hover {
    background-color: #3A3B41;
    cursor: pointer;
}

.table-item.selected {
    background-color: #3A3B41;
}

.table-item-title {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0.1rem;
}

.table-item-description {
    font-size: 0.85rem;
    color: #aeaeae;
}

.form {
    height: calc(100vh - 10rem)!important;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    overflow-y: auto;
}