@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 220, 4%, 13%;
    --foreground: 210 40% 98%;
    --header: 120, 3%, 7%;
    --card: 220, 4%, 13%;
    --card-foreground: 210 40% 98%;
    --popover: 220, 4%, 13%;
    --popover-foreground: 210 40% 98%;
    --primary: 152.8 77.1% 38.8%;
    --primary-foreground: 229, 9%, 23%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;

    /* scrollbar invisible */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    
  }


  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: hsl(var(--header-background));
  }

  .header-logo {
    display: flex;
    align-items: center;
  }

  .header-logo img {
    height: 30px;
    margin-right: 1rem;
  }

  .header-title {
    font-size: 1rem;
    color: hsl(var(--secondary-foreground));
  }

  .header-buttons {
    display: flex;
    align-items: center;
  }

  .header-buttons button {
    margin-left: 1rem;
  }

  .exit-button {
    background-color: hsl(var(--destructive));
    padding: 0.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .exit-button:hover {
    background-color: hsl(var(--muted));
  }

  .profile-button {
    background-color: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }

  /* Layout */
  .layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: hsl(var(--header));
  }

  .content {
    height: calc(100vh - 66px);
  }

  /* Footer */
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    color: hsl(var(--secondary-foreground));
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  .footer-buttons {
    display: flex;
    gap: 0.5rem;
  }

  .footer-buttons button {
    background-color: hsl(var(--header));
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  .footer-buttons button a {
    font-size: 0.7rem;
  }

  .footer-info {
    font-size: 0.75rem;
  }
}